.LoginPage {
  box-sizing: border-box;
  border: 0.2rem solid black;
  // justify-content: center;
  // justify-items: center;
  margin-top: 50px;
  padding: 10px 0 20px 0;
  overflow: hidden;
  text-align: center;
  
  // .title {
  //   font-size: 5rem;
  //   margin: 1rem;
  //   &:hover + p:hover{
  //     color: #8cebd1;
  //   }
  
  // .title:hover{
  //   color: #8cebd1;
  // }
  

  .form {
    border: 0.1rem solid gray;
    margin: 1rem;
    .input {
      display: flex;
      flex-direction: column;
      margin: 1rem;

      div {
        align-items: flex-end;
        // border-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;

        svg{
          margin-right: 1%;          
        }

        label.Mui-focused {
          color: #8cebd1;
        }
      }
      div::after{
        color: #8cebd1;
        border-bottom-color: #8cebd1;
      }
    }
    
    .btn {
      padding-right: 80px;
      padding-left: 80px;
    }
  }

  .btn {
    background-color: black;
    color: #ffffff;
    font-size: 100%;
    font-weight: 600;
    margin: 1rem;
  }
  .btn:hover {
    background-color: #8cebd1;
  }

  @media screen and (max-width: 400px){
    .title{
      font-size: 3rem;
    }
  }
}
