.Modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background-color: rgb(214, 199, 199);
    // backface-visibility: visible;
  }
  .Modal{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0px 3px 6px lightgrey;
      // box-shadow: 0px 3px 6px #8cebd1;
      border-color: black ;
      // border: 1px solid;

      & > * {
        &:first-child{
          margin-top: 16px;
        }
        margin-left: 16px;
        margin-right: 16px;
      }
      p.title{
        font-size: 16pt;
        font-weight: bold;
        color: #333;
      }
      .content{
        border-top: 1px solid #bebebe;
        margin-top: 16px;
        p{
          padding: 8px;
          font-size: 12pt;
          color: #999;
        }
      }
  
      .button-wrap{
        margin: 0;
        margin-top: 8px;
        button{
          width: 100%;
          padding: 12px 0;
          border-radius: 0 0 10px 10px;
          background-color: #8cebd1;
          font-size: 13pt;
          color: white;
          border: 0;
          cursor: pointer;
          &:hover{
            background-color: darkcyan;
          }
          &:active{
            background-color: darkcyan;
          }
        }
      }
    }